@media (min-width: 414px){
  .cat_mini {
    flex-wrap: wrap;
    padding-bottom: 25px;
  }
  .cat__info {
    padding: 10px;
    margin: -10px ;
    width: 100%;
  }
  .advantages__heading {
    margin-top: 40px;
  }
  .advantages__list__item {
    width: 100%;
  }
  .advantages__list__item span {
    margin-bottom: 25px;
  }
}

@media (min-width: 414px){
  .item-view {
    flex-direction: column;
  }
  .item-view-right, .item-view-left {
    width: 100%;
    padding: 0;
  }
  .item-view-options {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .item-view-filter-list {
    justify-content: center;
  }
  .send_request {
    background: #46c8ff;
    margin-bottom: 0;
  }
  .send_request:hover {
    background: #fdb302;
  }
}
@media (min-width: 414px){
  .features {
    padding: 30px 0 0;
    background-size: cover;
  }
  .features h2 {
    margin-bottom: 30px;
  }
  .features-list--item {
    flex-direction: column;
    align-items: center;
  }
  .features-text h3 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .features-list--item img {
    margin-bottom: 20px;
    max-width: 30%;
  }
  .fittings-list {
    flex-wrap: wrap;
    align-items: center;
  }
  .fittings-list--item {
    margin: auto;
  }
  .fittings-list--item p {
    margin-top: 30px;
    margin-bottom: 35px;
  }
  
}

@media (min-width: 414px){
  .filter-row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .filter-list {
    flex-wrap: wrap;
  }
  .filter-name {
    margin-right: 0;
    padding-right: 0;
    position: relative;
    text-align: left;
    width: auto;
  }
  .filter-name h4{
    font-weight: 700;
    padding-bottom: 15px;
  }
  .filter-name::after{
    display: none;
  }
  .catalog--content--item {
    margin: auto;
  }
}
@media (min-width: 414px){
  .fittings {
    background-size: cover;
    padding: 0;
  }
  .sockets{
    display: none;
  }
  .mob-hidden{
    display: none;
  }
  .gallery-list--item span {
    opacity: 1;
  }
  .gallery-list--item {
    margin: 0 auto 30px;
  }
  .mini-gallery {
    padding: 0;
  }
  .mini-gallery h2 {
    margin-bottom: 30px;
  }
  .call_designer-wrap {
    flex-direction: column;
  }
  .call_designer-img{
    margin: 0;
  }
  .call_designer-img img {
    max-width: 50%;
    display: block;
    margin: 0 auto 30px;
  }
  .call_designer {
    padding: 30px 0;
    background-size: cover;
  }
  form#call_design {
    flex-direction: column;
  }
  form#call_design input {
    width: auto;
    margin: 0 0 25px;
  }
  .submit {
    padding: 21px 55px 21px 35px;
    background: #00c0ff;
  }
  .submit:hover {
    background: #fdb302;
  }
}
@media (max-width:1279px) and (min-width: 415px){
  body{
    width: 1280px;
  }
}
@media (min-width: 414px){
  body{
    width: 414px;
  }
  .container{
    width: 100%;
    padding: 10px;
  }
}  
@media (min-width: 414px){
  .header{
    height: initial;
    order: 4;
  }
  .mainmenu--hidden{
    display: block;
  }
  .mainmenu.mainmenu--hidden {
    padding: 10px;
  }
  .mobile-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c5a176;
    padding: 10px;
    order: 1;
  }
  .mainmenu{
    order: 2;
  }
  .submenu{
    order: 3;
  }
  .mainmenu,
  .submenu{
    display: none;
  }
   .mainmenu.open-mob,
  .submenu.open-mob{
    display: block;
  }
  .container.flex{
    flex-direction: column;
    align-items: center;
  }
  .mainmenu-conteiner, .nav2{
    width: 100%;
  }
  .mainmenu-conteiner {
  flex-direction: column;
}
  .header_logo, .mainmenu_sub-list-item{
    display: none;
  }
  .header_text{
    margin: 0;
  }
  .header_text span {
    display: block;
    margin-top: 25px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
  }
  .header_contact {
    margin-top: 28px;
    text-align: center;
  }
  .slogan1{
    padding-bottom: 50px;
    order: 5;
    background: url(../images/m-screen.jpg) no-repeat;
    background-position-y: 84px;
  }
  .slogan1 h1{
    font-size: 30px;
    margin-bottom: 58px;
  }
  .slogan1 h1 .lite{
    font-size: 24px;
    line-height: 1.2;
  }
  .yellow{
    font-size: 30px;
  }
  button#btn_1,
  button#btn_2{
    margin: auto;
    display: block;
  }
  button#btn_1{
    margin-bottom: 30px;
  }
  .mouse {
    display: none;
  }
  .catalog--heading {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .catalog--heading h2{
    text-align: center;
  }
  .mainmenu_sub-list-item.mob-only{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c5a175;
    width: 100%;
    order: 6;
  }
  .mainmenu_sub-list-item.mob-only a{
    width: 75%;
    border-left: 0;
    margin: 0;
    padding: 20px;
  }
  .mainmenu_sub-list-item.mob-only a:first-child{
    border-bottom: 1px dotted #fff;
  }
}  
@media (min-width: 414px){
  ul.nav1,
  ul.nav2{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 414px){
  .order h2 {
    padding-bottom: 30px;
    padding-top: 0px;
  }
  .order-list {
    flex-wrap: wrap;
  }
  .order-card {
    margin: 0 auto 30px;
    min-height: initial;
  }
  .affects_the_price{
    display: none;
  }
  .order{
    padding-bottom: 0;
  }
  .footer-list {
    flex-direction: column;
    align-items: center;
  }
  .footer{
    padding-bottom: 0;
  }
}

@media (min-width: 414px){
  .promotion .container {
    padding-bottom: 0;
    flex-direction: column;
  }
  .promotion_block {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .promotion_block p {
    flex-direction: column;
    text-align: center;
  }
  .promotion_block p:before{
    margin: 20px 0;
  }
  .promotion_block:last-child p:after{
    display: none;
  }
  .call_designer2{
    padding: 0;
  }
  .call_designer2 h2 {
    margin-bottom: 35px;
  }
  .call_designer2-wrap {
    flex-direction: column;
  }
  .call_designer2-left img{
    max-width: 50%;
    margin: 0 auto 30px;
    display: block;
  }
  .call_designer2-list {
    padding-bottom: 20px;
  }
  form#call_design2 {
    flex-direction: column;
  }
  #call_design2 input {
    width: 100%;
    margin: 0 0 25px;
  }
  #submit2 {
    padding: 21px 55px 21px 35px;
    background: #00c0ff;
  }
  #submit2:hover {
    background: #fdb302;
  }
  .box-menu-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .box-menu-item:last-child {
    margin-bottom: 0;
  }
  .box-menu-wrap {
    padding-bottom: 20px;
  }
}