.cat_mini{
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 60px;
}
.cat_mini__item{

}
.cat_mini__item span{
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
  color: #3f3f3f;
  text-align: center;
}
.cat__info{
  background-color: #c5a175;
  padding: 20px;
  width: 970px;
  margin-right: auto;
  margin-left: auto;  
}
.cat__info p{
  text-align: center;
  color: #fff;
}
.advantages__heading{
  margin-top: 95px;
}
.advantages__list{
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
}
.advantages__list__item{
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__list__item span{
  text-align: center;
  margin-bottom: 60px;
  margin-top: 35px;
  color: #3f3f3f;
}
span.strong{
  text-transform: uppercase;
  font-weight: 700;
  
}
.affects_the_price{
  height: 868px;
  background: url(../images/affects_the_price/bg.jpg) center no-repeat;
  padding-top: 80px;
}
.affects_the_price .container{
  position: relative;
}
.right-text-block {
  position: absolute;
  top: 220px;
  right: 55px;
}
.right-text-block h3{
  font-size: 24px;
  font-weight: 400;
  color: #3f3f3f;
  text-transform: uppercase;
}
.right-text-block p{
  position: relative;
  padding-left: 10px;
  margin-top: 30px;
}
.right-text-block p::before{
  position: absolute;
  left: 0;
  top: 1px;
  content: "•";
  color: #00c0ff;
}
.plus-point{
  height: 23px;
  width: 23px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: url(../images/affects_the_price/icon-plus.png) left center no-repeat;

}
.plus-point:hover{
  background: url(../images/affects_the_price/icon-plus.png) right center no-repeat;
}
.plus-text {
  opacity: 0;
  visibility: hidden;
  background: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 14px 18px;
  width: 306px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
  transform: translateX(-45%);
  margin-top: 20px;
  transition: all 0.275s ease-in;
  display: block;
}
.plus-text::before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  display: block;
  position: absolute;
  top: -20px;
  left: 156px;
 
}
.plus-point:hover + span.plus-text,
span.plus-text.active-text{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.plus-point-wrap {
  position: absolute;
  z-index: 1;
}
div#plus1 {
  top: 250px;
  left: 315px;

}
div#plus2 {
  top: 390px;
  left: 435px;

}
div#plus3 {
  top: 445px;
  left: 120px;

}
#plus4 {
  top: 490px;
  left: 335px;
 
}
#plus5 {
  top: 530px;
  left: 537px;
 
}
#plus6 {
  top: 570px;
  left: 725px;
  
}
.box-menu-wrap{
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 80px;
}
.box-menu-item{
  height: 305px;
  width: 50%;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  padding-left: 105px;
  flex-direction: column;
  justify-content: center;
}
.box-menu-item a{
  position: relative;
  display: block;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 14px;
  border-bottom: 1px dashed #fff;
}
.box-menu-item:nth-child(1){
  background-image: url(../images/content/box-menu1.jpg);
}
.box-menu-item:nth-child(2){
  background-image: url(../images/content/box-menu2.jpg);
}
.box-menu-item:nth-child(3){
  background-image: url(../images/content/box-menu3.jpg);
}
.box-menu-item:nth-child(4){
  background-image: url(../images/content/box-menu4.jpg);
}
.box-menu-item a::before {
  position: absolute;
  left: -15px;
  top: 1px;
  content: "•";
  color: #fff;
}
.call_designer{
  padding: 90px 0 90px;
  background: url(../images/design/bg.jpg) no-repeat;
}
.call_designer-form p::before {
  position: absolute;
  left: 0;
  top: 1px;
  content: "•";
  color: #00c0ff;
}
.call_designer-form p {
  position: relative;
  padding-left: 10px;
  margin-left: 15px;
}
.call_designer-form h2{
  color: #3f3f3f;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.call_designer-img{
  margin-right: 25px;
}
.call_designer-wrap{
  display: flex;
  flex-direction: row;
}
.submit {
  padding: 21px 55px 21px 35px;
  color: #fff;
  background: url(../images/icon-submit.png) 190px center no-repeat, #00c0ff;
  font-size: 15px;
  border: 0;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 400;

}
.submit:hover,
.submit:focus,
.submit:active{
  background: url(../images/icon-submit.png) 190px center no-repeat, #fdb302;
}
form#call_design {
  display: flex;
}
.phone{
  font-family: Roboto Condensed, sans-serif;
  border: 0;
  border-bottom: 1px solid #00c0ff;
  font-weight: 300;
  font-size: 18px;
  padding: 20px 10px 10px;
  width: 400px;
  margin-right: 30px;
  background: transparent;
}
.phone::placeholder{
  color: #a9a9a9;
  font-weight: 300;
}
.form_h3{
  margin-top: 30px;
  text-transform: uppercase;
  color: #3f3f3f;
  font-size: 21px;
  font-weight: 400;
}
.form_h3 + span{
  display: block;
  margin-bottom: 35px;
}
.call_designer2{
  padding-top: 60px;
  padding-bottom: 90px;
}
.call_designer2 h2{
  margin-bottom: 60px;
}
.call_designer2 h3{
  color: #3f3f3f;
    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to top, #3f3f3f, #656565), linear-gradient(#3f3f3f, #3f3f3f);
  margin-bottom: 12px;
}
.call_designer2-wrap{
  display: flex;
}
.call_designer2-left{
  margin-right: 30px;
}
.call_designer2-list{
  padding-bottom: 50px;
}
.call_designer2-list p {
  position: relative;
  padding-left: 10px;
  margin-bottom: 12px;
}
.call_designer2-list p::before {
  position: absolute;
  left: 0;
  top: 1px;
  content: "•";
  color: #00c0ff;
}
#call_design2{
  display: flex;
  padding-top: 35px;
}
#call_design2 input{
  width: calc(50% - 10px);
}
#phone2{
  padding-left: 0;
}
#submit2{
  padding: 15px 15px 15px 30px;
  display: block;
  color: #fff;
  background: url(../images/content/icon-phone.png) 15px center no-repeat, #00c0ff;
  font-size: 12px;
  text-transform: uppercase;
  border: 0;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 400;
}
.catalog--heading{
  padding-top: 60px;
  padding-bottom: 30px;
}
.catalog--heading h2{
  font-size: 24px;
  color: #3f3f3f;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to top, #3f3f3f, #656565), linear-gradient(#3f3f3f, #3f3f3f);
}
.catalog--filter {
  padding: 30px 0 15px;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
}
.filter-row{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.filter-name{
  margin-right: 30px;
  padding-right: 30px;
  position: relative;
  text-align: right;
  width: 170px;
}
.filter-name h4{
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 300;
}
.filter-list{
  display: flex;
}
.filter-list input{
  display: none;
}
.filter-list input.default-checkbox:checked + label{
  background-color: #fdb302;
}
.filter-list label{
  display: block;
  padding: 5px 10px;
  margin-right: 15px;
  font-size: 16px;
  color: #3f3f3f;
  font-weight: 300;
 /* background-color: #ededed; */
  border-radius: 2px;
}
.filter-list label:hover{
  cursor: pointer;
}
.filter-name::after {
  position: absolute;
  right: 0;
  top: 1px;
  content: "•";
  color: #46c8ff;
}
.color-checkbox + label{
  width: 22px;
  height: 22px;
  padding: 0;
  border: 1px solid #c5a175;
}
.filter-list input.default-checkbox.color-checkbox:checked + label{
  outline: 2px solid #fdb302;
  background-color: initial;
}
.catalog--content{
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog--content--item img{
  margin-bottom: 25px;
}
.catalog--content--item{
  position: relative;
  padding: 5px;
  margin-bottom: 40px;
  padding-bottom: 25px;
}
.catalog--content--item:hover::after{
  position: absolute;
  right: 50px;
  bottom: 45px;
  content: "";
  height: 20px;
  width: 20px;
  background: url(../images/content/icon-in.png) no-repeat;

}
.catalog--content--item:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.catalog--content--item p{
  padding: 5px;
}
.catalog--content--item p span{
  font-weight: 400;
}
.item-view{
  display: flex;
}
.item-view-right{
  width: 700px;
  padding-right: 30px;
}
.item-view-left {
  width: 500px;
}
.item-view-desc p{
  line-height: 30px;
  text-indent: 40px;
}
.option-cost p.mini{
  color: #a5a5a5;
  font-weight: 300;
  text-transform: lowercase;
  font-size: 14px;
  font-style: italic;
}
.option-cost-heading{
  display: flex;
}
.option-cost h3{
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 30px;
  padding-bottom: 10px;
}
.option-cost span{
  font-weight: 700;
  color: #fdb302;
  text-transform: uppercase;
}
.option-cost p{
  text-transform: uppercase;
  font-weight: 700;
}
.option-other-heading{
  margin: 30px 0 35px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
.option-other p{
  margin-bottom: 12px;
}
.select-list-row input{
  display: none;
}
.select-list-row{
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.select-list-row label{
  display: flex;
  align-items: center;

  font-size: 18px;
  color: #3f3f3f;
  font-weight: 300;
}
.select-list-row label > span{
  height: 15px;
  width: 15px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.select-list-row input:checked + label > span{
  box-shadow: inset 0 0 0px 4px #fff;
  background: #fdb302;
}
.item-view-filter__item h3 {
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #3f3f3f;
  font-size: 18px;
}
.item-view-filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.item-view-filter__item {
  width: 250px;
  padding-bottom: 35px;
}
.item-view-options {
  padding-bottom: 40px;
}
.send_request{
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  text-transform: uppercase;
  height: 70px;
  display: block;
  width: 100%;
  border: 0;
  margin-bottom: 70px;
  background: url(../images/content/icon-send.png) 50px center no-repeat, #46c8ff;
}
.send_request:hover{
    background: url(../images/content/icon-send.png) 50px center no-repeat, #fdb302;
    cursor: pointer;
}
.promotion .container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
.promotion_block{
  width: calc(50% - 15px);
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promotion_block:first-child{
  background: url(../images/content/promo1.jpg) no-repeat;
  background-size: cover;
}
.promotion_block p{
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  
}
.promotion_block:first-child p:before{
  background: url(../images/content/icon-info.png) no-repeat;
  content: "";
  display: block;
  height: 46px;
  width: 46px;
  margin-right: 15px;
}
.promotion_block:last-child{
  background: url(../images/content/promo2.jpg) no-repeat;
  background-size: cover;
}
.promotion_block:last-child p:before{
  background: url(../images/content/icon-wp.png) no-repeat;
  content: "";
  display: block;
  height: 54px;
  width: 54px;
  margin-right: 25px;
}
.promotion_block:last-child p:after{
  background: url(../images/content/promo2_qrc.png) no-repeat;
  content: "";
  display: block;
  height: 105px;
  width: 105px;
  margin-left: 25px;
}

.features{
  padding: 90px 0 100px;
}
.features h2{
  margin-bottom: 60px;
}
.features-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-list--item{
  display: flex;
  margin-bottom: 25px;
}
.features-text{
  width: 350px;
  margin-left: 20px;
}
.features-text h3{
  margin-bottom: 35px;
  font-size: 21px;
  font-weight: 400;
  color: #3f3f3f;
}
.features-text p{
  color: #3f3f3f;
}
.fittings{
  padding: 95px 0 115px;
  background: url(../images/fittings/bg.jpg) center no-repeat;
}
.fittings-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fittings h2{
  margin-bottom: 80px;
}
.fittings-list--item p{
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}
.footer{
  background: #414242;
  padding-top: 25px;
  padding-bottom: 40px;
}
.footer p{
  color: #9d9d9d;
}
.footer a img{
  margin-bottom: 30px;
}
.social{
  display: flex;
  padding-top: 40px;
}
.social a img{
  margin-right: 15px;
}
.footer-list{
  display: flex;
  justify-content: space-between;
}
.footer-menu{
  color: #fff;
}
.footer-menu li{
  color: #9d9d9d;
  list-style: none;
  margin-top: 5px;
}
.footer-menu li a{
  color: #9d9d9d;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  padding-left: 8px;
}
.footer-menu li a::before {
  position: absolute;
  left: 0;
  top: 1px;
  content: "•";
  color: #9d9d9d;
}
*{
  padding: 0;
  margin: 0;
}
div{
  box-sizing: border-box;
}
/* TYPO */
body,button{
  font-family: 'Roboto Condensed', sans-serif;
}
p, span{
  color: #3f3f3f;
  font-size: 18px;
  font-weight: 300;  
}
a{
  color: #3b3b3a;
  text-decoration: none;
}
.heading_h2{
  font-size: 24px;
  color: #3f3f3f;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to top, #3f3f3f, #656565), linear-gradient(#3f3f3f, #3f3f3f);
}
/* TYPO END */
/* GRID */

.container{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

/* GRID END */
/* ELEM */
.btn {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  padding-right: 44px;
  border: 1px solid currentColor;
  width: 230px;
  height: 70px;
  line-height: 0;
}
.btn:active,
.btn:hover{
  background-color: #00c0ff;
  border: 1px solid #00c0ff;
  color: #fff;
}

.flex{
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
}
.header {
  height: 150px;
}
.header_logo{
  margin-top: 47px;
}
.header_text{
  margin-top: 70px;
}
.header_contact{
  margin-top: 57px;   
}
.header_contact a{
  display: block;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 10px;
}
.header_contact span{
  display: block;
  font-weight: 400;
  font-size: 14px;
}

/* CATALOG PAGE*/
.header--cat{
  background: url(../images/screen2.jpg) center top no-repeat;
  background-size: cover;
}
.mainmenu_sub-list-item.mob-only{
  display: none;
}
img.hamburger:hover{
  cursor: pointer;
}
.mainmenu,
.submenu{
  background-color: #c5a176;
  width: 100%;
}
.mainmenu-conteiner{
  display: flex;
  flex-direction: row;
}
.nav1,
.nav2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainmenu-conteiner,
.nav2{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.nav1{
  width: 55%;
}
.nav1 li,
.nav2 li{
  list-style: none;
}
.nav1 li a,
.nav2 li a{
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 24px;
  padding-bottom: 19px;
  border-bottom: 5px solid transparent; 
}
.nav1 li a:hover,
.nav2 li a:hover{
  border-bottom: 5px solid #fdb302; 
}
.mainmenu_sub-list-item {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.mainmenu_sub-list-item a {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px dotted #fff;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.mainmenu_sub-list-item a::before{
  content: "";
  height: 20px;
  width: 30px;
  display: block;
  background: url(../images/icon-mail.png) no-repeat;
}
.mainmenu--hidden{
  display: none;
}
.mini-gallery{
  padding: 50px 0 100px;
}
.mini-gallery h2{
  margin-bottom: 70px;
}
.gallery-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery-list--item {
  width: 300px;
  height: 230px;
  overflow: hidden;
  position: relative;
}
.gallery-list--item img {
  min-width: 100%;
  height: auto;
}
.gallery-list--item span{
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  padding-left: 10px;
  height: 115px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.gallery-list--item:hover span{
  opacity: 1;
}
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 29, 0.65);

  display: flex;
}
.modal-wrap{
  background-color: #fbf6ef;
  margin: auto;
  padding: 35px;
  max-width: 600px;
  position: relative;
}
.modal-wrap .close{
  height: 10px;
  width: 10px;
  display: block;
  background: url(../images/icon-close.png) no-repeat;
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal-wrap .close:hover{
  cursor: pointer;
}
.modal-wrap p{
  color: #3f3f3f;
  text-align: center;
  margin-bottom: 20px;
}
.modal-wrap p span{
  font-weight: 700;
  font-size: 24px;
}
#form3{
  display: flex;
  flex-direction: column;
}
#form3 input:placeholder,
#form3 textarea:placeholder{
  color: #a9a9a9;
}
#form3_phone,
#form3_name,
#form3_message{
  font-family: Roboto Condensed, sans-serif;
  border: 0;
  border-bottom: 1px solid #00c0ff;
  font-weight: 300;
  font-size: 18px;
  padding: 20px 10px 10px;
  margin-bottom: 10px;
  background: transparent;
}
#form3_file{
  display: none;
}
#form3_agreement + label{
  font-size: 14px;
  color: #ed1c24;
  margin: 20px 0 20px 10px;
}
.form-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-row:last-child{
  justify-content: space-between;
}
#form3_submit,
input#form3_file + label{
  border: 0;
  padding: 25px 0;
  font-size: 15px;
  color: #fff;
  width: calc(50% - 15px);
  text-align: center;
  display: block;
}
input#form3_file + label{
  background-color: #fdb302;
}
#form3_submit{
  background-color: #46c8ff;
}
input#form3_file + label:focus{
  outline-offset: -2px;
}
span.lock_text{
  display: block;
  text-align: center;
  font-size: 12px;
  color: #3f3f3f;
  font-style: italic;
  margin: 20px 0 0;
}  
.order {
  padding-bottom: 57px;
}
.order h2 {
  padding-bottom: 70px;
  padding-top: 30px;
}
.order-list{
  display: flex;
  justify-content: space-between
}
.order-card {
  padding: 17px;
  border: 1px solid #d5d5d5;
  position: relative;
  min-height: 870px;
  width: 270px;
  padding-bottom: 110px;
}
.order-card__name{
  padding: 40px 0;
  font-size: 24px;
  color: #444;
  font-weight: 300;
}
.order-card__cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 25px;
}
.order-card:nth-child(1)::before{
  content: "";
  background-image: url(../images/order/1.png);
  display: block;
  width: 110px;
  height: 110px;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 5;
}
.order-card:nth-child(2)::before{
  content: "";
  background-image: url(../images/order/2.png);
  display: block;
  width: 110px;
  height: 110px;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 5;
}
.order-card:nth-child(3)::before{
  content: "";
  background-image: url(../images/order/3.png);
  display: block;
  width: 110px;
  height: 110px;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 5;
}
.order-card:nth-child(4)::before{
  content: "";
  background-image: url(../images/order/4.png);
  display: block;
  width: 110px;
  height: 110px;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 5;
}
p.order-card__equipment {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 35px;
}
p.order-card__equipment-item{
  margin-top: 25px;
  position: relative;
  padding-left: 20px;
  font-size: 16px;
}
.order-card__equipment-item--lasty{
  line-height: 30px;
}
p.order-card__equipment-item::before {
  content: "";
  height: 11px;
  width: 11px;
  background: url(../images/order/check.png) no-repeat;
  position: absolute;
  left: 0;
  top: 3px;
}
.btn--blue {
  display: block;
  background: url(../images/order/btn_check.png) 166px center no-repeat, #46c8ff;
  border: 1px solid #46c8ff;
  color: #fff;
  position: absolute;
  bottom: 17px;
  left: 20px;
  height: 50px;
}
.btn--blue:hover{
  background: url(../images/order/btn_check.png) 166px center no-repeat, #fdb302;
  border: 1px solid #fdb302;
  color: #fff;
}
.screen1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(../images/screen1.jpg) no-repeat;
}
.slogan1 h1{
  font-size: 37px;
  font-weight: 700;
  color: #3f3f3f;
  text-transform: uppercase;
}
.yellow{
  color: #fdb302;
  font-size: 37px;
  font-weight: 700;
  text-transform: uppercase;
}
.lite{
  font-weight: 400;
  font-size: 30px;
  color: #3f3f3f;
  text-transform: uppercase;
}
button#btn_1 {
  background: url(../images/icon-calc.png) 166px center no-repeat, #fdb302;
  margin-left: 105px;
  margin-right: 25px;
}
button#btn_1:hover,
button#btn_1:active{
  background:url(../images/icon-calc.png) 166px center no-repeat, #00c0ff;
}
button#btn_2 {
  background: url(../images/icon-mailto.png) 166px center no-repeat, transparent;
  border: 1px solid #3f3f3f;
  color: #3f3f3f;
}
button#btn_2:hover,
button#btn_2:active{
  background:url(../images/icon-mailto2.png) 166px center no-repeat, #00c0ff;
  border: 1px solid #00c0ff;
  color: #fff;
}
.mouse{
  margin: auto;
  width: 27px;
  margin-top: 98px;
  margin-bottom: 55px;
}
.slogan1 h1 {
  margin-bottom: 68px;
}
.sockets{
  padding: 110px 0 50px;
}
.after-blue{
  text-align: center;
  display: block;
  color: #00c0ff;
  font-size: 16px;
  margin-top: 20px;
}
.sockets img{
  margin: 75px 0 50px;
}
.sockets button{
  margin: 0 auto;
  display: block;

  background: url(../images/sockets/icon-eye.png) 166px center no-repeat, #00c0ff;
  border: 1px solid #00c0ff;
  color: #fff;
}
.sockets button:hover{
  background: url(../images/sockets/icon-eye.png) 166px center no-repeat, #fdb302;
  border: 1px solid #fdb302;
  color: #fff;
}