.item-view{
  display: flex;
}
.item-view-right{
  width: 700px;
  padding-right: 30px;
}
.item-view-left {
  width: 500px;
}
.item-view-desc p{
  line-height: 30px;
  text-indent: 40px;
}
.option-cost p.mini{
  color: #a5a5a5;
  font-weight: 300;
  text-transform: lowercase;
  font-size: 14px;
  font-style: italic;
}
.option-cost-heading{
  display: flex;
}
.option-cost h3{
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 30px;
  padding-bottom: 10px;
}
.option-cost span{
  font-weight: 700;
  color: #fdb302;
  text-transform: uppercase;
}
.option-cost p{
  text-transform: uppercase;
  font-weight: 700;
}
.option-other-heading{
  margin: 30px 0 35px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
.option-other p{
  margin-bottom: 12px;
}
.select-list-row input{
  display: none;
}
.select-list-row{
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.select-list-row label{
  display: flex;
  align-items: center;

  font-size: 18px;
  color: #3f3f3f;
  font-weight: 300;
}
.select-list-row label > span{
  height: 15px;
  width: 15px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.select-list-row input:checked + label > span{
  box-shadow: inset 0 0 0px 4px #fff;
  background: #fdb302;
}
.item-view-filter__item h3 {
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #3f3f3f;
  font-size: 18px;
}
.item-view-filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.item-view-filter__item {
  width: 250px;
  padding-bottom: 35px;
}
.item-view-options {
  padding-bottom: 40px;
}
.send_request{
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  text-transform: uppercase;
  height: 70px;
  display: block;
  width: 100%;
  border: 0;
  margin-bottom: 70px;
  background: url(../images/content/icon-send.png) 50px center no-repeat, #46c8ff;
}
.send_request:hover{
    background: url(../images/content/icon-send.png) 50px center no-repeat, #fdb302;
    cursor: pointer;
}
.promotion .container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
.promotion_block{
  width: calc(50% - 15px);
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promotion_block:first-child{
  background: url(../images/content/promo1.jpg) no-repeat;
  background-size: cover;
}
.promotion_block p{
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  
}
.promotion_block:first-child p:before{
  background: url(../images/content/icon-info.png) no-repeat;
  content: "";
  display: block;
  height: 46px;
  width: 46px;
  margin-right: 15px;
}
.promotion_block:last-child{
  background: url(../images/content/promo2.jpg) no-repeat;
  background-size: cover;
}
.promotion_block:last-child p:before{
  background: url(../images/content/icon-wp.png) no-repeat;
  content: "";
  display: block;
  height: 54px;
  width: 54px;
  margin-right: 25px;
}
.promotion_block:last-child p:after{
  background: url(../images/content/promo2_qrc.png) no-repeat;
  content: "";
  display: block;
  height: 105px;
  width: 105px;
  margin-left: 25px;
}
