*{
  padding: 0;
  margin: 0;
}
div{
  box-sizing: border-box;
}
/* TYPO */
body,button{
  font-family: 'Roboto Condensed', sans-serif;
}
p, span{
  color: #3f3f3f;
  font-size: 18px;
  font-weight: 300;  
}
a{
  color: #3b3b3a;
  text-decoration: none;
}
.heading_h2{
  font-size: 24px;
  color: #3f3f3f;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to top, #3f3f3f, #656565), linear-gradient(#3f3f3f, #3f3f3f);
}
/* TYPO END */
/* GRID */

.container{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

/* GRID END */
/* ELEM */
.btn {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  padding-right: 44px;
  border: 1px solid currentColor;
  width: 230px;
  height: 70px;
  line-height: 0;
}
.btn:active,
.btn:hover{
  background-color: #00c0ff;
  border: 1px solid #00c0ff;
  color: #fff;
}