.order {
  padding-bottom: 57px;
}
.order h2 {
  padding-bottom: 70px;
  padding-top: 30px;
}
.order-list{
  display: flex;
  justify-content: space-between
}
.order-card {
  padding: 17px;
  border: 1px solid #d5d5d5;
  position: relative;
  min-height: 870px;
  width: 270px;
  padding-bottom: 110px;
}
.order-card__name{
  padding: 40px 0;
  font-size: 24px;
  color: #444;
  font-weight: 300;
}
.order-card__cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 25px;
}
.order-card:nth-child(1)::before{
  content: "";
  background-image: url(../images/order/1.png);
  display: block;
  width: 110px;
  height: 110px;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 5;
}
.order-card:nth-child(2)::before{
  content: "";
  background-image: url(../images/order/2.png);
  display: block;
  width: 110px;
  height: 110px;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 5;
}
.order-card:nth-child(3)::before{
  content: "";
  background-image: url(../images/order/3.png);
  display: block;
  width: 110px;
  height: 110px;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 5;
}
.order-card:nth-child(4)::before{
  content: "";
  background-image: url(../images/order/4.png);
  display: block;
  width: 110px;
  height: 110px;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 5;
}
p.order-card__equipment {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 35px;
}
p.order-card__equipment-item{
  margin-top: 25px;
  position: relative;
  padding-left: 20px;
  font-size: 16px;
}
.order-card__equipment-item--lasty{
  line-height: 30px;
}
p.order-card__equipment-item::before {
  content: "";
  height: 11px;
  width: 11px;
  background: url(../images/order/check.png) no-repeat;
  position: absolute;
  left: 0;
  top: 3px;
}
.btn--blue {
  display: block;
  background: url(../images/order/btn_check.png) 166px center no-repeat, #46c8ff;
  border: 1px solid #46c8ff;
  color: #fff;
  position: absolute;
  bottom: 17px;
  left: 20px;
  height: 50px;
}
.btn--blue:hover{
  background: url(../images/order/btn_check.png) 166px center no-repeat, #fdb302;
  border: 1px solid #fdb302;
  color: #fff;
}