.screen1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(../images/screen1.jpg) no-repeat;
}
.slogan1 h1{
  font-size: 37px;
  font-weight: 700;
  color: #3f3f3f;
  text-transform: uppercase;
}
.yellow{
  color: #fdb302;
  font-size: 37px;
  font-weight: 700;
  text-transform: uppercase;
}
.lite{
  font-weight: 400;
  font-size: 30px;
  color: #3f3f3f;
  text-transform: uppercase;
}
button#btn_1 {
  background: url(../images/icon-calc.png) 166px center no-repeat, #fdb302;
  margin-left: 105px;
  margin-right: 25px;
}
button#btn_1:hover,
button#btn_1:active{
  background:url(../images/icon-calc.png) 166px center no-repeat, #00c0ff;
}
button#btn_2 {
  background: url(../images/icon-mailto.png) 166px center no-repeat, transparent;
  border: 1px solid #3f3f3f;
  color: #3f3f3f;
}
button#btn_2:hover,
button#btn_2:active{
  background:url(../images/icon-mailto2.png) 166px center no-repeat, #00c0ff;
  border: 1px solid #00c0ff;
  color: #fff;
}
.mouse{
  margin: auto;
  width: 28px;
  margin-top: 98px;
  margin-bottom: 55px;

  -webkit-animation: move_down_please 0.3s ease-in-out;
  animation: move_down_please 0.3s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

/* ANIMATION */

@-webkit-keyframes move_down_please {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move_down_please {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* ANIMATION END */

.slogan1 h1 {
  margin-bottom: 68px;
}